@import "tailwindcss";
:root{
    background-color: #000000;
    font-family: var(--font-outfit);
}

.pacifico{
    font-family: var(--font-pacifico);
}

.cedar{
    font-family:var(--font-cedarville_cursive)
}


